html {
    font-family: Poppins;
}

body {
    margin: 0;
}

.poppins {
    font-family: Poppins;
}

.logo {
    font-size: 20px;
    color: #fcfbfb;
    font-family: Unbounded;
    padding-left: 70px;
    line-height: 67px;
    color: #1C56ED;
}

#header {
    height: 67px;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    border-bottom-style: solid;
    border-color: #DEDDE4;
    z-index: 9999;
}

#navbar {
    margin: 0;
    display: inline-block;
}

#navbar li {
    display: inline-block;
}

#navbar li a {
    color: #444444;
    text-decoration: none;
    line-height: 67px;
    padding-left: 30px;
    font-size: 15px;
    font-weight: 500;
}

#navbar li a:hover {
    color: #1C56ED;
}


#header .logout-btn {
    float: right;
    padding-right: 70px;
}

#header .logout {
    color: #444444;
    text-decoration: none;
    line-height: 67px;
    font-size: 15px;
    font-weight: 500;
    margin-left: 22px;
    color: #1C56ED;
    border-radius: 4px;
    border: 1px solid #1C56ED;
    padding: 8px 25px;
}

#header .logout:hover {
    background-color: #1545be;
    color: #fff;
}

#slider {
    margin-top: 67px;
    height: 330px;
    background-color: #1C56ED;
}

#slider .text-bg {
    padding-top: 50px;
}

#slider .text-bg .text1 {
    color: #fcfbfb;
    padding-left: 70px;
    margin: 0;
    font-size: 30px;
    font-weight: 600;
}

#slider .text-bg .text2 {
    color: #fcfbfb;
    padding-left: 70px;
    font-size: 14px;
    font-family: poppins;
    margin-top: 10px;
}

#slider .text-bg .text3 {
    color: #fcfbfb;
    font-size: 14px;
    font-family: poppins;
    margin-top: 10px;
}

#slider .btn {
    width: 300px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid #FF6801;
    background-color: #FF6801;
    color: #fcfbfb;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 70px;
}

#slider .text4 {
    color: #DADADA;
    font-size: 11px;
    font-family: poppins;
    margin-top: 10px;
    margin-left: 70px;
}

#slider .text-bg .text1 .span-text {
    border: 1px;
    color: #1C56ED;
    background: #fcfbfb;
}

#content {
    margin-top: 50px;
    margin-left: 70px;
    margin-right: 70px;
}

#content .content-heading {
    font-weight: 600;
    font-size: 18px;
}

#content .content-sub-heading {
    font-weight: 500;
    font-size: 14px;
    margin: 5px;
}

#content .content-text-feedback {
    color: #939393;
    font-size: 12px;
    margin: 0;
}

#content .content-text1-feedback {
    font-size: 12px;
}

#content .content-comment1{
    color: #616161;
    font-size: 14px;
    margin: 0;
}

#content .content-comment2{
    font-size: 18px;
}

.btn {
    width: 150px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid #FF6801;
    background-color: #FF6801;
    color: #fcfbfb;
    font-weight: 500;
}

#footer {
    height: 320px;
    margin-top: 100px;
    background-color: #1C56ED;
    padding: 70px;
}

#footer .footer-text1 {
    font-size: 20px;
    font-family: Unbounded;
    color: #fff;
}

#footer .footer-text2 {
    font-size: 14px;
    font-family: Poppins;
    color: #fff;
}

#footer .footer-text3 {
    font-size: 14px;
    font-family: Poppins;
    color: #fff;
    font-weight: 500;
}

#footer .footer-input {
    width: 250px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid #DEDDE4;
    margin-right: 10px;
}

#footer .footer-btn {
    width: 70px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid #FF6801;
    background-color: #FF6801;
    color: #fcfbfb;
    font-weight: 500;
}