html {
    height: 748px;
}

.poppins{
    font-family: Poppins;
}

body {
    height: 100%;
}

.logo {
    font-size: 20px;
    color: #fcfbfb;
    font-family: Unbounded;
    padding-left: 70px;
    line-height: 67px;
}

.text {
    font-weight: 650;
    color: #fcfbfb;
    font-family: Unbounded;
    padding-left: 70px;
    padding-top: 70px;
}

.img-saly1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-right: 70px;
    margin-top: 50px;
    max-width: 748px;
}

.signup-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.label{
    font-size: 14px;
    color: #353434;

}

.input {
    width: 370px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid #DEDDE4;
}


.btn-login {
    width: 370px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid #FF6801;
    background-color: #FF6801;
    color: #fcfbfb;
    font-weight: 500;
}