html {
    font-family: Poppins;
}

body {
    margin: 0;
}

.poppins {
    font-family: Poppins;
}

.logo {
    font-size: 20px;
    color: #fcfbfb;
    padding-left: 70px;
    line-height: 67px;
    color: #1C56ED;
}

#header-exerciseview {
    height: 67px;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    border-bottom-style: solid;
    border-color: #DEDDE4;
    z-index: 9999;
}

#navbar-exerciseview {
    margin: 0;
    display: inline-block;
}

#navbar-exerciseview li {
    display: inline-block;
}

#navbar-exerciseview li a {
    color: #444444;
    text-decoration: none;
    line-height: 67px;
    padding-left: 30px;
    font-size: 15px;
    font-weight: 500;
}

#navbar-exerciseview li a:hover {
    color: #1C56ED;
}


#header-exerciseview .logout-btn {
    float: right;
    padding-right: 70px;
}

#header-exerciseview .logout {
    color: #444444;
    text-decoration: none;
    line-height: 67px;
    font-size: 15px;
    font-weight: 500;
    margin-left: 22px;
    color: #1C56ED;
    border-radius: 4px;
    border: 1px solid #1C56ED;
    padding: 8px 25px;
}

#header-exerciseview .logout:hover {
    background-color: #1545be;
    color: #fff;
}

#content-exerciseview {
    margin-top: 100px;
    height: 750px;
    margin-left: 70px;
}

#content-exerciseview .content-heading {
    font-size: 24px;
    font-weight: 600;
}

#content-exerciseview .content-sub-heading {
    margin-right: 70px;
}

#content-exerciseview .content-left {
    border: 1px solid #DEDDE4;
    border-radius: 8px;
    height: 400px;
    padding: 20px;
}

#content-exerciseview .content-right {
    border: 1px solid #DEDDE4;
    border-radius: 8px;
    margin-left: 20px;
    padding: 20px;
    height: 650px;
}

#content-exerciseview .content-text {
    font-size: 30px;
    font-weight: 600;
}

#content-exerciseview .content-text1 {
    font-size: 14px;
    color: #8a8a8c;
}


#content-exerciseview .content-link {
    text-decoration: none;
    color: #353434;
}

#content-exerciseview .content-link:hover {
    color: #1C56ED;
}

#content-exerciseview .content-bg{
    background-color: #1C56ED;
    height: 150px;
}

#content-exerciseview .content-text3 {
    color: #fff;
    padding-top: 40px;
    padding-left: 30px;
    font-size: 24px;
    font-weight: 600;
    margin: 0;
}

#content-exerciseview .content-sub-text3{
    font-size: 14px;
    color: #fff;
    padding-left: 30px;
}

#content-exerciseview .btn {
    width: 150px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid #FF6801;
    background-color: #FF6801;
    color: #fcfbfb;
    font-weight: 500;
    margin-right: 70px;
    margin-top: 60px;
    float: right;
}

#footer {
    height: 320px;
    margin-top: 100px;
    background-color: #1C56ED;
    padding: 70px;
}

#footer .footer-text1 {
    font-size: 20px;
    color: #fff;
}

#footer .footer-text2 {
    font-size: 14px;
    font-family: Poppins;
    color: #fff;
}

#footer .footer-text3 {
    font-size: 14px;
    font-family: Poppins;
    color: #fff;
    font-weight: 500;
}

#footer .footer-input {
    width: 250px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid #DEDDE4;
    margin-right: 10px;
}

#footer .footer-btn {
    width: 70px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid #FF6801;
    background-color: #FF6801;
    color: #fcfbfb;
    font-weight: 500;
}