@import "@fontsource/poppins";

body {
    font-family: "Poppins", sans-serif;
}

.logo {
    font-size: 20px;
    color: #fcfbfb;
    font-family: Unbounded;
    padding-left: 70px;
    line-height: 67px;
    color: #1C56ED;
}

#header-about {
    height: 67px;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    border-bottom-style: solid;
    border-color: #DEDDE4;
    z-index: 9999;
}

#navbar-about {
    margin: 0;
    display: inline-block;
}

#navbar-about li {
    display: inline-block;
}

#navbar-about li a {
    color: #444444;
    text-decoration: none;
    line-height: 67px;
    padding-left: 30px;
    font-size: 15px;
    font-weight: 500;
}

#navbar-about li a:hover {
    color: #1C56ED;
}


#header-about .logout-btn {
    float: right;
    padding-right: 70px;
}

#header-about .logout {
    color: #444444;
    text-decoration: none;
    line-height: 67px;
    font-size: 15px;
    font-weight: 500;
    margin-left: 22px;
    color: #1C56ED;
    border-radius: 4px;
    border: 1px solid #1C56ED;
    padding: 8px 25px;
}

#header-about .logout:hover {
    background-color: #1545be;
    color: #fff;
}


#content-about .content-heading-about{
    text-align: center;
    font-size: 40px;
    font-weight: 645;
    margin-top: 100px;
    color: #1C56ED;
    font-family: Unbounded;
}

#content-about .content-sub-heading-about{
    text-align: center;
    margin-left: 360px;
    margin-right: 360px;
    color: #353434;
    font-size: 14px;
    margin-bottom: 70px;
}

#content-about .about-img{
    margin-left: 70px;
    margin-bottom: 50px;
}

#content-about .data-list-about{
    display: flex;
    justify-content: center;
    padding: 50px;
    background-color: #F2F6F8;
    height: 200px;
}

#content-about .data-item-about{
    float: left;
    margin-right: 75px;
    margin-left: 75px;
    margin-bottom: 50px;
}

#content-about .data-sub-item1-about{
    text-decoration: none;
}

#content-about .data-sub-item1-about:hover{
    color: red;
}

#content-about .data-item1-about{
    font-size: 45px;
    color: #1C56ED;
    font-weight: bold;
    font-family: Poppins;
    margin-bottom: 0;
}

#content-about .data-item2-about{
    color: #616161;
    font-size: 14px;
    font-weight: 450;
}

#review-about .review-heading-about{
    text-align: center;
    font-size: 40px;
    font-weight: 645;
    margin-top: 50px;
    color: #353434;
}

#review-about .review-sub-heading-about{
    text-align: center;
    margin-left: 260px;
    margin-right: 260px;
    color: #353434;
    font-size: 12px;
    margin-bottom: 70px;
}

#review-about .avt-list-about{
    margin-left: 70px;
    margin-right: 70px;
}

#review-about .avt-item-about{
    text-align: center;
}

#review-about .text-review-about{
    border: 1px solid #DEDDE4;
    background-color: #fff;
    border-radius: 6px;
    margin-top: 25px;
    padding: 15px;
    font-size: 14px;
    margin-right: 10px;
}

#footer {
    height: 320px;
    margin-top: 100px;
    background-color: #1C56ED;
    padding: 70px;
}

#footer .footer-text1{
    font-size: 20px;
    font-family: Unbounded;
    color: #fff;
}

#footer .footer-text2{
    font-size: 14px;
    font-family: Poppins;
    color: #fff;
}

#footer .footer-text3{
    font-size: 14px;
    font-family: Poppins;
    color: #fff;
    font-weight: 500;
}

#footer .footer-input{
    width: 250px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid #DEDDE4;
    margin-right: 10px;
}

#footer .footer-btn{
    width: 70px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid #FF6801;
    background-color: #FF6801;
    color: #fcfbfb;
    font-weight: 500;
}